.footer {
  max-width: 100%;
  margin: auto;
  padding: 4rem 10rem;
  overflow: auto;
  background-color: black;
}

.footer,
footer > a {
  color: #999;
  font-size: 0.9rem;
}

.footer > p {
  margin-bottom: 1.5rem;
  color: #999;
  font-size: 1rem;
}

.footer__cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.footer__cols > ul {
  list-style: none;
}

.footer__cols > ul > li {
  line-height: 1.9rem;
  color: #999;
}

.footer__under {
  margin-top: 2.5rem;
  border: 1px solid rgb(97, 95, 95);
  border-radius: 3px;
  max-width: 16%;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 15px;
}

.footer__info > p {
  font-size: 1rem;
  color: #999;
  padding-left: 10px;
}
